{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/clojurescript {:mvn/version "1.10.520"}
        org.clojars.john/chrepl {:git/url "https://github.com/johnmn3/chrepl"
                                 :sha "3ebb6e875c73a53b42950ed84b2f0aa77831bada"}}

 :aliases {:fig {:extra-deps
                  {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                   com.bhauman/figwheel-main {:mvn/version "0.2.0"}}
                 :extra-paths ["target" "test"]}
           :build {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :min   {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]}
           :mins  {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev" "-s"]}}}
